{% case media.media_type %}
  {% when 'image' %}
    <img
      src="{{ media |  image_url: width: "1000px"  }}"
      alt="{{ media.preview_image.alt }}"
      width="1000"
      height="500"
      class="h-full w-full object-cover"
    >
  {% when 'external_video' %}
    {{ media | external_video_tag: class: 'w-full h-80 object-cover' }}
  {% when 'video' %}
    {{ media | video_tag: controls: true, class: 'w-full h-full object-cover' }}
  {% when 'model' %}
    <product-model data-media-id="{{ media.id }}">
      <div>
        <button
          id="productModelOpenButton_{{ media.id }}"
          x-on:click="productModalOpen = true"
          class="relative h-full w-full border bg-gray-100"
        >
          <span class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform border bg-gray-100">
            {% render 'icon-model-viewer' %}
          </span>
          <img
            src="{{ media | image_url: width: "1000px" }}"
            alt="{{ media.preview_image.alt }}"
            class="h-full w-full object-cover"
            width="1000"
            height="1000"
          >
        </button>
      </div>
      <template>
        {{ media | model_viewer_tag: reveal: 'interaction' }}
      </template>
    </product-model>

  {% else %}
    {{ media | media_tag }}
{% endcase %}
